{% extends 'base.html.twig' %}

{% block title %}Edit Sondage{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">    <img src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131032922_1156434281466016_3160520140419395504_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=jxThqoabDycAX8CDkfW&_nc_ht=scontent.ftun4-1.fna&oh=6e07304c5256131b4a482159451a3913&oe=5FFC6169">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#10aeda">Accueil</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Qui sommes-nous</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sondage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Créer</a></li>
                        <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Répondre</a></li>
          </ul>
        </li>
          
       <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
 <div class="border border-5" style="width: 46%;
    padding: 2%;
    margin: 2%;
    margin-left: 26%;border: px solid #0dcaf0!important;">
  <h2 style="text-align: center;  color: #10aeda;    font-size: xxx-large;"class="font-monospace" >Modifier les détails de votre sondage </h2><br>
<img alt="sujet" style=" height: 89px;margin-bottom: 2%;
    margin-left: 43%;
" src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131257771_1135170223582526_465694749151711907_n.png?_nc_cat=105&ccb=2&_nc_sid=ae9488&_nc_ohc=z3TQQUA_FJ8AX9rchWM&_nc_ht=scontent.ftun4-1.fna&oh=cac5c64c8b64b858aee918ed48629980&oe=5FFB91A5" />
            {{ form_start(form) }}
            {{ form_widget(form) }}
<br/><br/>
        <div style=" display: flex; margin-left: 36%">
                    <button class="btn btn-danger" style="margin:1%"> <a style="color:black" href="{{ path('sondage_index',{'idEnqueteur': idEnqueteur}) }}">annuler</a></button>
            <button class="btn btn-info"style="margin:1%">{{ button_label|default('modifier') }}</button>
          
        </div>
            {{ form_end(form) }}
            </br>


        </div>

    </div>
    <a href="{{ path('sondage_index',{'idEnqueteur':idEnqueteur}) }}">back to list</a>

    {{ include('sondage/_delete_form.html.twig') }}
    
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" style="height: 58px;
    width: 14%;" src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131362750_1645750308942476_3542390376714356479_n.png?_nc_cat=102&ccb=2&_nc_sid=ae9488&_nc_ohc=9BIGKuYvkbAAX_-PNIj&_nc_ht=scontent.ftun4-1.fna&oh=6e984e2024aaae71d89928aee1f84d36&oe=5FFB7EE4" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted">© 2020-2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Sondage</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Création</a></li>
          <li><a class="link-secondary" href="#">Répondre</a></li>
          <li><a class="link-secondary" href="#">Statistique</a></li>
          <li><a class="link-secondary" href="#">Rémunération</a></li>
        
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Qui sommes-nous</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Le concept</a></li>
          <li><a class="link-secondary" href="#">Contact</a></li>
          <li><a class="link-secondary" href="#">Nous rejoindre</a></li>
      
        </ul>
      </div>
     
    </div>
  </footer>
{% endblock %}
